@import "colors.scss";
@import "~bootstrap/scss/bootstrap-grid.scss";

.navbar {
   // @include media-breakpoint-down(sm) {
        padding-bottom: 6px;
        padding-top: 6px;
   // }
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

ol.breadcrumb {
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.breadcrumbArea {
    height: 2rem;;
    background-color: $secondary; // same as rgba(121, 174, 200, .8)
    
}