$primary: #417690;
$secondary: #79aec8;

$secondaryR: 121;
$secondaryG: 174;
$secondaryB: 200;

$bg: rgb(255, 255, 255);

/* experimental colors https://coolors.co/c2efb3-468189-413c58-735f3d-413c58 */
$color1: rgba(194, 239, 179, 1);
$color2: rgba(70, 129, 137, 1);
$color3: rgba(65, 60, 88, 1);
$color4: rgba(115, 95, 61, 1);
$color5: rgba(65, 60, 88, 1);

/*$primary: $color3;
$secondary: $color4;
$secondaryR: 115;
$secondaryG: 95;
$secondaryB: 61;*/

