@import 'colors.scss'; 

* {
    // color: rgba(0,0,0,.87);
}

.mat-form-field {
    display: block;
}

.chip {
    padding: 3px;
    //margin: 3px;
    border-radius: 2px;
    //display: inline;
}

div.mat-form-field-wrapper {
    padding-bottom: 0;
}

div.section {
    padding-left: 3px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 3px;
}

ul {
    padding: 0;
    li {
        button {
            font-size: .8rem;
        }
        list-style: none;
        &.active button {
            font-style: italic;
            // border-left: 2px solid $primary;
            color: $primary;
        } 
        &.active {
            border-left: 2px solid $primary;
        } 
    }
}

