<div class="row">
    <div>
        <a mat-icon-button (click)="clear()" title="Clear filter">
            <i class="material-icons">clear_all</i>
        </a>
    </div>
</div>
<div>
  <form [formGroup]="filterForm" class="filter-form">
    <mat-form-field class="example-full-width" *ngFor="let elem of filter">
      <input matInput placeholder="{{elem.field}}" formControlName="{{elem.field}}" value="{{elem.value}}">
    </mat-form-field>
    <div *ngIf="showTagSelector">
        <mat-form-field>
          <input type="text" placeholder="Tag wählen" [formControl]="tagControl" matInput [matAutocomplete]="tagExact">
        </mat-form-field>
          
        <mat-autocomplete #tagExact [displayWith]="tagDisplayFn">
            <mat-option *ngFor="let tag of tags | async" [value]="tag">
              <span class="chip" [style.background-color]="colors[tag.colour+1]">
                {{ tag.name }}
              </span>
            </mat-option>
          </mat-autocomplete>

    </div>
  </form>        
</div>
<div>
  <a mat-icon-button (click)="search()" title="search"><i class="material-icons">search</i></a>
</div>