<body id="page-top">
  <app-header></app-header>
  <mat-sidenav-container [hasBackdrop]="hasBackdrop">
      <mat-sidenav #sidenav [mode]="mode" fixedInViewport="true">
          <div class="push" style="height: 5.4rem"></div>
          <app-sidenav>
            </app-sidenav>
        
          </mat-sidenav>
    

    <mat-sidenav-content>
      <div id="content">
        <div class="push" style="height: 5.4rem"></div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>



  <!-- Footer -->
  <footer class="fixed-bottom">
    <div class="container">
      <p class="text-center text-white">&nbsp;</p>
    </div>
  </footer>