<body id="page-top">
  <mat-sidenav-container [hasBackdrop]="true">
      <mat-sidenav #sidenav mode="over">
          <app-sidenav>
            </app-sidenav>
        
          </mat-sidenav>
    

    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
      <app-header></app-header>
      <div class="container" id="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>



  <!-- Footer -->
  <!--<footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
          </div>
        </footer>-->