@import '../list/list.component.scss';

ul {
    list-style: none;
    padding: 0;
}
.chip {
    font-size: .5rem;
    padding: .5rem;
    margin: 3px;
    border-radius: 5px;
    display: inline;
}

