<div class="filterbar row">
    <div class="col-sm-3">
      <button mat-icon-button (click)="menuToggle()">
        <i class="material-icons">filter_list</i>
      </button>
      <mat-button-toggle-group [value]="mode" name="mode" aria-label="Toggle view mode between list and tiles">
          <mat-button-toggle value="table" (click)="toggleMode('table')">
              <i class="material-icons">list</i>
          </mat-button-toggle>
          <mat-button-toggle value="tiles" (click)="toggleMode('tiles')">
              <i class="material-icons">view_module</i>
          </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="col-sm-6">
      <table class="mat-table tiles-header" *ngIf="mode=='tiles'" matSort (matSortChange)="sortData($event)"
        [matSortActive]="'created'" [matSortStart]="'desc'">
        <tr>
          <th class="mat-header-cell" mat-sort-header="title" [start]="'asc'" i18n="@@header.title">Title</th>
          <th class="mat-header-cell" mat-sort-header="created" i18n="@@header.created">Created</th>
          <th class="mat-header-cell" mat-sort-header="modified" i18n="@@header.modified">Modified</th>
          <th class="mat-header-cell" mat-sort-header="correspondent__name" [start]="'asc'" i18n="@@header.correspondent">Correspondent</th>
          <th class="mat-header-cell" mat-sort-header="tag_names" [disabled]="true" i18n="@@header.tags">Tags</th>
        </tr>
      </table>

    </div>
</div>
<div class="container">
  <table *ngIf="mode=='table'" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
    [matSortActive]="'modified'" [matSortStart]="'desc'" [matSortDisableClear]="true">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [start]="'asc'"> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
      <td mat-cell *matCellDef="let element"> {{element.created | date}} </td>
    </ng-container>

    <ng-container matColumnDef="modified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
      <td mat-cell *matCellDef="let element"> {{element.modified | date}} </td>
    </ng-container>

    <ng-container matColumnDef="correspondent__name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [start]="'asc'"> Correspondent </th>
      <td mat-cell *matCellDef="let element"> {{element.correspondent | resolve: 'name' | async}} </td>
    </ng-container>

    <ng-container matColumnDef="tag_names">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> Tags </th>
      <td mat-cell *matCellDef="let element"> {{element.tags | resolveConcat: 'name' | async}} </td>
    </ng-container>

    <ng-container matColumnDef="links">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"> </th>
        <td mat-cell *matCellDef="let element"> 
          <span>
              <a (click)="openPreview(element)" href="javascript:void(0)">
                <i class="material-icons">zoom_in</i>
              </a>
          </span>
      
            <span>
                <a [routerLink]="'/documents/' + element.id">
                  <i class="material-icons">open_in_new</i>
                </a>
            </span>
        </td>
      </ng-container>
  

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-grid-list *ngIf="mode=='tiles'" class="m-t-1" [cols]="cols" [rowHeight]="rowHeight" gutterSize="10px">
    <mat-grid-tile *ngFor="let doc of list; let i = index">
      <mat-grid-tile-header>
        <span style="width: 80%;">{{ doc.title }}</span>
        <span class="text-right" style="width: 20%">
          <a [routerLink]="'/documents/' + doc.id">
            <i class="material-icons">open_in_new</i>
          </a>
        </span>
      </mat-grid-tile-header>

      <div class="m-1 h-100 w-100">
        <div class="upperTileContent">
          <ul>
            <ng-template ngFor let-tag [ngForOf]="doc.tags">
              <li *ngIf="tag | resolve | async; let tag;" [style.background-color]="colors[tag.colour+1]" class="chip">
                <!-- {{tag | resolve: 'name' | async}} -->
                {{tag.name}}
              </li>
            </ng-template>

          </ul>
        </div>
        <div class="lowerTileContent">
            <span class="small">
                {{ doc.created | date }}
              </span>
        </div>
        <app-movable-background [enabled]="true" id="'bg' + i" [url]="doc.thumbnail_url"></app-movable-background>
        <!--<img src="{{baseUrl + doc.thumbnail_url}}"/>-->
      </div>
      <mat-grid-tile-footer>
        <div class="container">

          <div class="row">
            <div class="col-sm-6">
              <a mat-icon-button href="javascript:void(0)" (click)="openPreview(doc)"><i class="material-icons">zoom_in</i></a>
              <a mat-icon-button href="{{baseUrl + doc.download_url}}" download target="_blank"><i class="material-icons">cloud_download</i></a>
            </div>
            <div class="col-sm-6 text-right">
              <a mat-icon-button (click)="zoomIn(i)"><i class="material-icons">zoom_in</i></a>
              <a mat-icon-button (click)="zoomOut(i)"><i class="material-icons">zoom_out</i></a>
            </div>
  
          </div>
        </div>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-paginator [length]="dataSource.count" (page)="onPageEvent($event)"></mat-paginator>
</div>

<div class="fade" [ngClass]="{'overlay': loading, 'show': loading}">
  <div class="loadingIndicator">
    <span *ngIf="loading" class="spinnerContainer">
      <mat-spinner [diameter]="25"></mat-spinner>
    </span>
  </div>
</div>
