<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <a [routerLink]="['/documents']">Documents</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a [routerLink]="['/tags']">Tags</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a [routerLink]="['/correspondents']">Correspondents</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a [routerLink]="['/tags']">Tags</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a [routerLink]="['/logs']">Logs</a>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
        <a [routerLink]="['/settings']">Settings</a>
      </div>
    </div>
</div>
<p>
</p>
<p>
</p>
