    <mat-tab-group>
        <mat-tab label="Preview">
            <img class="w-100 border border-primary" src="{{baseUrl + doc.thumbnail_url}}">
        </mat-tab>
        <mat-tab label="Pdf">
            <app-pdf-popover [doc]="doc"></app-pdf-popover>
        </mat-tab>
        <mat-tab label="Text">
          <pre>{{doc.content}}</pre>
        </mat-tab>
        <mat-tab label="Data">
           <app-document-data [doc]="doc"></app-document-data> 
          </mat-tab>
      </mat-tab-group>

